.add-new-recipe-area h3 {
  text-align: center;
  padding-top: 3rem;
}

.add-new-recipe {
  width: 80%;
  margin: 3rem auto;
  background-color: rgb(250, 250, 250);
  padding: 3rem;
}

.add-new-recipe h5 {
  margin-top: 1.5rem;
}

.add-new-recipe .outline-warning {
  margin: 0.5rem 0;
}

.add-new-recipe .btn-warning {
  margin-top: 2rem;
}
