a.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ff6f00;
}

a.navbar-brand:hover {
  color: #ff6f00;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
