.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  justify-items: center;
  align-items: center;
  color: black;
}

.popUpBox {
  position: relative;
  background-color: white;
  padding: 1rem;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  margin: 0 auto;
}

.popUpBox p {
  padding: 1rem 0;
}

button {
  background-color: olivedrab;
  color: white;
  text-transform: uppercase;
  padding: 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  margin-right: 0.8rem;
  font-size: 0.9rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(45, 60, 19);
  color: white;
  text-transform: uppercase;
  width: 45%;
  padding: 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  margin-right: 0.8rem;
  font-size: 0.9rem;
}

.secondary {
  border: darkolivegreen;
  color: darkolivegreen;
  background: transparent;
}
