body {
  background-color: rgb(239, 239, 239);
}

/* BUTTON */

.btn-warning {
  color: #fff !important;
  background-color: #ff6f00 !important;
  border-color: #ff6f00 !important;
}

.btn-outline-warning {
  border-color: #ff6f00 !important;
  color: #ff6f00 !important;
}

.btn-outline-warning:hover {
  background-color: #ff6f00 !important;
  color: #fff !important;
}

.about-us {
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
}

.about-us h1 {
  padding: 2rem 0;
}

.add-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-recipe h1 {
  padding: 2rem 0;
  text-align: center;
}

.add-recipe-form {
  padding: 3rem 4rem;
  background-color: #ffbf8e;
}

label {
  display: block;
  padding: 0.5rem 0;
}

.form-section {
  padding-bottom: 1rem;
}

.add-recipe input,
select,
textarea {
  border: none;
  padding: 1rem;
  width: 300px;
  font-size: 1.2rem;
  color: rgb(116, 116, 116);
}

.add-recipe button {
  margin: 1rem 0 0 0;
  text-align: center;
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
}

.active {
  font-weight: bold;
  color: #ff6f00;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  justify-items: center;
  align-items: center;
  color: black;
}

.postedUpdate {
  background-color: white;
  padding: 1rem;
  width: 350px;
  height: 200px;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
}
