/* #root {
  margin: 3rem;
} */

body {
  background-color: rgb(239, 239, 239);
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fff;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding-right: 1rem;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

.hero {
  height: 100vh;
  background: url(./assests/dish.jpg) no-repeat fixed center center/cover;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  padding: 2rem 0;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ff6f00;
}

.hero span {
  /* display: block;
  text-align: center; */
  padding: 2rem;
}

button {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
  background-color: #ff6f00;
  color: #fff;
  cursor: pointer;
  
}

button:hover {
  box-shadow: 0px 3px 8px rgba(255, 111, 0, 0.53);
}

.sec-btn {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ff6f00;
  font-size: 1.2rem;
  margin-left: 10px;
  background-color: #fff;
  color: #ff6f00;
}

.searchRecipes input {
  width: 300px;
  height: 50px;
  padding: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

/* .searchRecipes button {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
  background-color: #ff6f00;
  color: #fff;
} */

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  width: 22rem;
  border-radius: 0.6em;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card-content {
  padding: 2rem;
}

.card-content h2 {
  padding: 1rem 0;
}

.card-content .category {
  background-color: #ffbf8e;
  padding: 0.2rem;
  width: 30%;
  text-align: center;
  border-radius: 6px;
  color: rgb(255, 255, 255);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card h1 {
  color: #222;
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0;
  transition: all ease-in 100ms;
  text-transform: uppercase;
}

.card p {
  color: #777;
  font-weight: 300;
  padding: 1rem 0;
}

.card a {
  text-decoration: none;
  color: #ff6f00;
}

.card h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.04rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.card-body {
  padding: 1.2rem;
}

.home h1 {
  padding: 3rem 0;
  text-align: center;
}

.about-us {
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
}

.about-us h1 {
  padding: 2rem 0;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
  /* position: fixed;
  bottom: 0; */
}
