.circle {
  background-color: #ccc;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #ccc;
}

.odd {
  background-color: rgb(253, 255, 212);
}

.even {
  background-color: skyblue;
}
