.animalCard {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 1rem;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.animalCard button {
  width: 150px;
  border-style: none;
  background-color: rgb(57, 57, 57);
  padding: 0.7rem 1.5rem;
  color: #fff;
  margin-top: 1rem;
}

.animalCard img {
  width: 100%;
}

.animallist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* justify-content: space-evenly; */
}
